.cor-da-p {
    background-color: #b4c0da;
}
.p1{
    color: #75b69b;
   font-family: verdana;
   font-size: 50px;
}

.p2{
    color: #55afc5;
   font-family: verdana;
   font-size: 50px;
}

.p3{
    color: #5783c5;
   font-family: verdana;
   font-size: 50px;
}

.p4{
    color: #8b94e9;
   font-family: verdana;
   font-size: 50px;
}

.p5{
    color: #a681be;
   font-family: verdana;
   font-size: 50px;
}